/************Tag selectors ******************/
h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  font-weight: bold;
  color:#345B63;
}

h2, h3, h4, h5 {
  font-family: 'Merriweather', sans-serif;
  margin-bottom:0;
  color:#345B63;
}
body {
  margin: 0;
  text-align: center;

}
p {
  margin-bottom: 0;
  font-family: 'Merriweather', sans-serif;
  line-height: 2;
}

/******************** Class Slectors ************/

/* Navigation bar */

.navbar{
  font-family: 'Montserrat';
  padding-bottom:4.5rem;
  margin-top: 0;
}
.dropdown{
  margin: 0 1rem;
}
.logo{
  height: 1rem;
}

/* clouds and mountain */

.top {
  background-color: #87A8A4;
  text-align: center;
  padding-top: 0;
  position: relative;
}

.bottomcloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.topcloud {
  position: absolute;
  right: 20%;
  top: 10%;

}
.toptext{
  color:#345B63;
}

/* Profile and intro */

.profilepic {
  border-radius: 50%;
  height: 250px;
  margin:3% auto;
}
.Introp {
  margin: auto 5% auto 5%;
}
.profile{
  text-align: center;
  width: 50%;
  margin:auto;
}

/* horizontal element */

.horz {
  border-style: dotted;
  height: 0;
  border-width: thick;
  border-bottom: none;
  width: 3%;
  color: #345B63;
  background-color: inherit;
  margin: 50px auto;
}


/* 90 day plan card */

.plan-card{
  text-align: center;
  margin: auto 35%;
}
.row{
  margin-right: 0;
}



/* carousel */

.carosli{
  padding: 3rem;
  margin: 2rem auto;
}
.carousel-item{
  text-align: center;
}
.educatorpic{
  height:25%;
  margin: 30px 30px 30px;
padding-bottom: 10px;
  width: 25%;
  float:left;
}
.educatorpic2{
  height:25%;
  margin-top: 50px;
  margin-left: 20px;
  width: 25%;
  float:right;
}
.educatorpic3{
  height:25%;
  margin: 30px 15px;
  width: 25%;
  float: left;
}
.skills{
  margin-bottom: 50px;
  background-color: #8FCCB4;
  padding: 3rem 0;
}
.skill-row {
  width:50%;
  margin:auto;
  text-align: left;
  line-height: 2;
}

/* Contact me section */
.contact-me-headers{
  padding-bottom: .5rem;
  padding-top: .25rem;
}
.HS {
  font-style: oblique;
  border-top: 0;
  margin: 0;
  margin-bottom: 20px;
  padding-left: 15%;
}


/* Footer */

.bottom-container {
  background-color: #87A8A4;
  color: #345B63;
  padding-top: 2%;
  margin-top:2%;
}
.copywrite{
  font-size: 1rem;
  color:white;
  padding: 1%;
}
.footer-link{
  font-family: 'Montserrat';
color: #345B63;
margin: 1% 2% 3%;
text-decoration: none;
}
.footer-link:hover{
  color:#EAF6F6;
}


/*********************** Principal Responsibilities Class selectors  (Page 2)*****************/

.top_page2{
  background-color: #87A8A4;
  text-align: center;
}
.p2h1{
  padding: 7% 0;
}

.title_page2{
  color:#345B63;
  background-color: #87A8A4;
  padding-bottom: 5%;
  padding-top: 1.5%;
  text-align: center;
}
.title_row_2{
  margin-right: 0;
}

.sunpic{
  width:15rem;
}
.thinkerpic{
  width: 13rem;
  position: absolute;
  right: 6%;

}
.featurette{
  text-align: left;
  vertical-align: central;
  padding: 1rem 5%;
}
.next-30{
  background-color: #8FCCB4;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.lead{
  list-style-position: outside;
}

/* media breakpoints */
@media (max-width:720px){
  .thinkerpic{
    display: none;
  }
  .sunpic{
    display: none;
  }
  .p2h1{
    text-align: center;
  }
}
